@import './_reset.scss';

body {
    background: #F2F5F8;
}

input {
    border-radius: 7px !important;
}


// Navbar
.navbar {
    background: rgba(255, 255, 255, 1);
}
.nav__inputs-wrapper {
    select {
     background: linear-gradient(rgba(249, 249, 249, 1), rgba(236, 236, 236, 1));
     border: 1px solid #E3E1E1;
     color: #c0baba;
     height: 28px;
     border-radius: 6px;
     padding: 5px;
     font-size: 13px;
     color: #B6BEC3;
    }
}

.title {
    color: #FFF; 
    font-size: 18px;
}
.select-lang{
    width: 130px; 
    margin-right: 10px; 
    padding: 0;
    padding-left: 5px;
}
.select-usd {
    width: 80px;
}


// Custom sign
.title {
    display: flex;
    align-items: center;
}
.custom-sign {
    width: 16px;
    height: 16px;
    background-color:#25B4C3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

// Custom checkbox
.real-checkbox{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.real-checkbox:checked + .custom-checkbox{
    background:#25B4C3;
}
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 5px;
    &::before {
        content:'';

        display: inline-block;
        width: 7px;
        height: 7px;

        background-image: url("../img/check.svg");
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);

        transition: 0.2 ease-in;
    }
}
.label-checkbox {
    color: #FFF; 
    font-size: 12px; 
    margin-bottom: 15px; 
    display: flex; 
    align-items:center;
}
.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
    
}



.content {
    &__form {
    max-width: 898px;
    min-height: 519px;
    margin: 0 auto;
    margin-top: 45px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(https://www.figma.com/file/fRWWZFf0YFxXkOuYxSVPKz/image/8a20f421635e884195fb825c59afaeff2daaf9ef?fuid=818826034794810319);
    background-repeat: no-repeat;
    border-radius: 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}

.main-row {
    margin-left: 121px;
    margin-top: 30px;
}

.btn-check:checked + .btn  {
    background: rgba(255, 255, 255, 0.5) !important;
    background: rgba(255, 255, 255, 0.5) !important;
}

.radio {
    transform: translate(-50%, -50%)scale(0);
}

.visa{
    width: 100%; 
    height: 42px; 
    background: #fff;
}

.select-country {
    background: #FFFFFF;
    width: 100%; 
    border-radius: 7px !important; 
    color: #444444;
}

.select-day{
    width: 65px; 
    height: 32px;
    border-radius: 7px; 
    background:#FFF; 
    padding: 7px 10px 7px 10px;
}
.cvc {
    padding-left: 7px;
    height: 32px;
    &-sign {
        left: 80%;
    }
    &-input {
        font-size: 13px;
        padding: 7px 10px 4px 10px;
    }
}


//Product card

.title-product {
    margin-bottom: 32px;
}

.product-card-title {
    &-main {
        font-size: 14px; 
        margin-bottom: 0; 
        font-weight: 600;
    }
    &-secondary {
        font-size: 13px; 
        color: #1473E6;
    }
    &-third {
        font-size: 13px; 
        color: #838993
    }

}

//Orange btn

.form-btn-wrapper{
    margin: 0 auto;
}

.form-btn{
    background: #FF7201; 
    border-radius: 0; 
    color:#FFF; 
    width: 187px; 
    height: 47px;
}
.btn.form-btn:hover {
        background: #dc680a;
        color:#FFF;
    }


//Bottom section
.bottom-widgets {
    color: #666C70; 
    font-size: 11px;
}


//Media

@media (max-width: 992px) {
    .content__form {
        background: none;
    }
    .custom-sign{
        
    }
    .left-form-billing{
        margin-bottom: 30px;
    }
    .main-container {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(https://www.figma.com/file/fRWWZFf0YFxXkOuYxSVPKz/image/8a20f421635e884195fb825c59afaeff2daaf9ef?fuid=818826034794810319);
        background-repeat: no-repeat;
        border-radius: 40px;
    }
    .main-row {
        margin-left: 0;
        margin-right: 0;
    }
    .bottom-widgets {
        color: black;
    }
    .title-product{
        margin-bottom: 10px !important;
    }
    .select-day {
        width: 80px;
    }
    .cvc {
        padding-left: 8px;
        &-sign {
            left: 88%;
        }
    }
    .form-btn-wrapper {
        display: flex;
        justify-content: center;
    }


}

@media (max-width: 767px) {
    .cvc-sign {
        left: 80%;
    }
    .select-day {
        max-width: 80px;
    }
    

}

@media (max-width: 537px) {
    .select-day {
        max-width: 72px;
    }
}

@media (max-width: 454px) {
    .nav-container {
        justify-content: center !important;
    }
    .custom-sign {
        display: none;
    }
    .select-day {
        max-width: 60px;
    }
    
}